#notes-header {
  background: #f3f5f7;
  font-family: "PingFang SC", Helvetica, "Helvetica Neue", 微软雅黑, Tahoma, Arial, sans-serif;
}

#notes-comment {
  padding: 0;
}

#notes-sidebar {
  margin: 20px 10px;
}
.notes-sel {
  width: 48px;
  height: 24px;
  text-align: center;
  padding: 4px;
  margin: 0px 12px 0px 0;
  font-size: 12px;
  line-height: 16px;
  cursor: default;
  border-radius: 15px;
}
#in {
  color: #FFFFFF;
  background: #9199a1;
}
#out {
  color: #000000;
  background: #f3f5f7;
}
#ing {
  color: #545c63;
  background: rgba(84,92,99,0.1);
}

/*笔记内容*/
#notes-content {
  margin: 10px;
  padding: 32px;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
}

#user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#notes-tit {
  font-size: 14px;
  color: #1c1f21;
  font-weight: 700;
}
#notes-tit a:hover {
  color: #F20D0D;
}
#notes-section {
  color: #9199a1;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  margin-top: 2px;
}
#notes-section a:hover {
  color: #F20D0D;
}
#notes-cnt {
  font-size: 16px;
  color: #303538;
  padding: 8px 0;
  max-height: 156px;
  line-height: 28px;
}
#notes-footer {
  margin-top: 12px;
  color: #93999f;
  font-size: 12px!important;
  line-height: 18px;
}
