<div class="row person-set">
  <div class="col-12 person-set-1">
    个人设置
  </div>
  <div class="col-12">
    <hr class="hr1">
  </div>
</div>

<form>
  <div class="row info-wapper">
    <div class="col-12 info-box">
      <label class="pull-left info-box-label">昵称</label>
      <div class="pull-left"><input type="text" placeholder="leeych"></div>
    </div>
    <div class="col-12 info-box">
      <label class="pull-left info-box-label">职位</label>
      <div class="pull-left"><input type="text" placeholder="请设置您的职位"></div>
    </div>
    <div class="col-12 info-box">
      <label class="pull-left info-box-label">城市</label>
      <div class="pull-left"><input type="text" placeholder="请设置您所在的城市"></div>
    </div>
    <div class="col-12 info-box" id="sex-1">
      <label class="pull-left info-box-label">性别</label>
      <div class="pull-left">
        <label class="radio-inline sex"><input type="radio" name="optradio">保密</label>
        <label class="radio-inline sex"><input type="radio" name="optradio">男</label>
        <label class="radio-inline sex"><input type="radio" name="optradio">女</label>
      </div>
    </div>
    <div class="col-12 info-box">
      <label class="pull-left info-box-label">个性签名</label>
      <div class="pull-left"><input type="text" placeholder="请设置您的个性签名"></div>
    </div>
    <div class="offset-9 col-3">
      <button type="button" class="btn">取消</button>
      <button type="button" class="btn btn-danger">保存</button>
    </div>
  </div>
</form>

