<!-- 编辑个人信息 -->
<nz-modal [(nzVisible)]="isSetVisible" nzTitle="编辑个人信息" (nzOnCancel)="setCancel()" (nzOnOk)="setOk()" [nzStyle]="{ top: '40px' }" nzWidth="400" *ngIf="person">

  <div nz-row>
    <div nz-col [nzSpan]="5">
      <label class="settingLabel">头&nbsp;&nbsp;&nbsp;&nbsp;像：</label>
    </div>
    <div nz-col [nzSpan]="19">
      <nz-upload
        [nzAction]="nzAction"
        nzListType="picture-card"
        [(nzFileList)]="fileList"
        [nzShowButton]="fileList.length < 1"
        (nzChange)="handleChange($event)"
        [nzPreview]="handlePreview">
        <i class="anticon anticon-plus"></i>
        <div class="ant-upload-text">上传头像</div>
      </nz-upload>
      <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
        <ng-template #modalContent>
          <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
        </ng-template>
      </nz-modal>
    </div>
  </div>

  <div nz-row class="settingInput">
    <div nz-col [nzSpan]="5">
      <label for="name" class="settingLabel">昵&nbsp;&nbsp;&nbsp;&nbsp;称：</label>
    </div>
    <div nz-col [nzSpan]="19">
      <input type="text" id="name" nz-input [(ngModel)]="person.name">
    </div>
  </div>

  <div nz-row class="settingInput">
    <div nz-col [nzSpan]="5">
      <label for="job" class="settingLabel">职&nbsp;&nbsp;&nbsp;&nbsp;位：</label>
    </div>
    <div nz-col [nzSpan]="19">
      <input type="text" id="job" nz-input [(ngModel)]="person.job">
    </div>
  </div>

  <div nz-row class="settingInput">
    <div nz-col [nzSpan]="5">
      <label for="address" class="settingLabel">地&nbsp;&nbsp;&nbsp;&nbsp;址：</label>
    </div>
    <div nz-col [nzSpan]="19">
      <input type="text" id="address" nz-input [(ngModel)]="person.address">
    </div>
  </div>

  <div nz-row class="settingInput">
    <div nz-col [nzSpan]="5">
      <label class="settingLabel">性&nbsp;&nbsp;&nbsp;&nbsp;别：</label>
    </div>
    <div nz-col [nzSpan]="19">
      <nz-radio-group [(ngModel)]="person.sex">
        <label nz-radio nzValue="保密">保密</label>
        <label nz-radio nzValue="男">男</label>
        <label nz-radio nzValue="女">女</label>
      </nz-radio-group>
    </div>
  </div>

  <div nz-row class="settingInput">
    <div nz-col [nzSpan]="5">
      <label for="signature" class="settingLabel">个性签名：</label>
    </div>
    <div nz-col [nzSpan]="19">
      <textarea nz-input id="signature" [(ngModel)]="person.signature" [nzAutosize]="{ minRows: 1, maxRows: 6 }"></textarea>
    </div>
  </div>

</nz-modal>




<!-- 绑定邮箱 -->
<nz-modal [(nzVisible)]="isEmailVisible" nzTitle="绑定邮箱" (nzOnCancel)="emailCancel()" (nzOnOk)="emailOk()" nzWidth="400">

  <div nz-row>
    <div nz-col [nzSpan]="4">
      <label for="email" class="settingLabel">邮&nbsp;&nbsp;&nbsp;&nbsp;箱：</label>
    </div>
    <div nz-col [nzSpan]="20">
      <nz-input-group nzAddOnAfter="@qq.com">
        <input type="text" id="email" nz-input placeholder="输入您的邮箱地址" [(ngModel)]="email">
      </nz-input-group>
    </div>
  </div>

  <div nz-row class="settingInput">
    <div nz-col [nzSpan]="4">
      <label for="emailCode" class="settingLabel">验证码：</label>
    </div>
    <div nz-col [nzSpan]="20">
      <nz-input-group nzSearch [nzSuffix]="suffixButton">
        <input type="text" id="emailCode" nz-input placeholder="" [(ngModel)]="emailCode">
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSearch (click)="sendEmail()">发送邮箱</button>
      </ng-template>
    </div>
  </div>

</nz-modal>





<!-- 绑定手机 -->
<nz-modal [(nzVisible)]="isPhoneVisible" nzTitle="绑定手机" (nzOnCancel)="phoneCancel()" (nzOnOk)="phoneOk()"  nzWidth="400">

  <div nz-row>
    <div nz-col [nzSpan]="4">
      <label for="phone" class="settingLabel">手机号：</label>
    </div>
    <div nz-col [nzSpan]="20">
        <input type="text" id="phone" nz-input placeholder="输入您的手机号" [(ngModel)]="phone">
    </div>
  </div>

  <div nz-row class="settingInput">
    <div nz-col [nzSpan]="4">
      <label for="phoneCode" class="settingLabel">验证码：</label>
    </div>
    <div nz-col [nzSpan]="20">
      <nz-input-group nzSearch [nzSuffix]="suffixButton">
        <input type="text" id="phoneCode" nz-input placeholder="" [(ngModel)]="phoneCode">
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSearch (click)="sendCode()">获取验证码</button>
      </ng-template>
    </div>
  </div>

</nz-modal>






<!-- 修改密码 -->
<nz-modal [(nzVisible)]="isPassVisible" nzTitle="修改密码" (nzOnCancel)="passCancel()" (nzOnOk)="passOk()"  nzWidth="400">

  <div nz-row>
    <div nz-col [nzSpan]="8">
      <label for="pass0" class="settingLabel">输入原始密码：</label>
    </div>
    <div nz-col [nzSpan]="16">
      <input type="password" id="pass0" nz-input placeholder="输入密码" [(ngModel)]="pass[0]">
    </div>
  </div>

  <div nz-row class="settingInput">
    <div nz-col [nzSpan]="8">
      <label for="pass1" class="settingLabel">&nbsp;&nbsp;&nbsp;&nbsp;输入新密码：</label>
    </div>
    <div nz-col [nzSpan]="16">
      <input type="password" id="pass1" nz-input placeholder="输入密码" [(ngModel)]="pass[1]">
    </div>
  </div>

  <div nz-row class="settingInput">
    <div nz-col [nzSpan]="8">
      <label for="pass2" class="settingLabel">&nbsp;&nbsp;&nbsp;&nbsp;确认新密码：</label>
    </div>
    <div nz-col [nzSpan]="16">
      <input type="password" id="pass2" nz-input placeholder="再次输入密码" [(ngModel)]="pass[2]">
    </div>
  </div>

</nz-modal>








<!-- 验证身份 -->
<nz-modal [(nzVisible)]="isPasswordVisible" nzTitle="验证身份" (nzOnCancel)="passwordCancel()" (nzOnOk)="passwordOk()"  nzWidth="400">

  <div nz-row>
    <div nz-col [nzSpan]="8"></div>
    <div nz-col [nzSpan]="16"><i class="anticon anticon-key" style="font-size: 100px"></i></div>
    <div nz-col [nzSpan]="6"></div>
    <div nz-col [nzSpan]="18"><p class="authenticate-p">请输入登录密码验证身份</p></div>
  </div>

  <div nz-row class="settingInput">
    <div nz-col [nzSpan]="4">
      <label for="password" class="settingLabel">&nbsp;&nbsp;&nbsp;&nbsp;密码：</label>
    </div>
    <div nz-col [nzSpan]="20">
      <input type="password" id="password" nz-input placeholder="请输入密码" [(ngModel)]="userLogin.password">
    </div>
  </div>

  <div nz-row class="settingInput">
    <div nz-col [nzSpan]="4">
      <label for="passcode" class="settingLabel">验证码：</label>
    </div>
    <div nz-col [nzSpan]="8">
      <input type="text" id="passcode" nz-input placeholder="输入验证码" [(ngModel)]="userLogin.code">
    </div>
    <div nz-col [nzSpan]="1"></div>
    <div nz-col [nzSpan]="7">
      <img src="https://www.imooc.com/user/verifycode?t=1533655150034" style="height: 32px" />
    </div>
    <div nz-col [nzSpan]="4" class="settingLabel">
      <a><i class="anticon anticon-sync"></i></a>
    </div>
  </div>

</nz-modal>
