.notes-select-row{
  margin-top: -12px;
}

.notes-select{
  margin-top: 23px;
  margin-left: -40px;
  margin-bottom: 0;
}

.notes-select li{
  display: inline-block;
  text-decoration: none;
  margin-right: 40px;
  width: 40px;
  height: 36px;
  text-align: center;
  padding-top: 7px;
}

.total{
  color: #4D555D;
}

.course{
  color: #4D555D;
}

.course:hover{
  color: #f01414;
}

.total:hover{
  color: #f01414;
}

#on{
  border-bottom: 2px solid #F01414;
  color: #f01414;
}

.totalnote{
  margin-top: 23px;
  font-size: 12px;
  color: #93999F;
  line-height: 36px;
}

#hr1{
  height: 2px;
  /*width: 954px;*/
  /*float: right;*/
  border-top: 2px solid rgba(0,0,0,.1);
  /*margin-top: 8px;*/
  margin-top: 0px;
  /*margin-bottom: 8px;*/
}

#hr2{
  height: 2px;
  border-top: 2px solid rgba(0,0,0,.1);
  margin-top: 21px;
}

.mainbody{
  padding-left: 60px;
}

.notes-chapter{
  display: block;
  font-size: 14px;
  color: #07111B;
  line-height: 24px;
  min-height: 24px;
  cursor: pointer;
  outline: none;
}

.notes-chapter:hover{
  color: #f01414;
}

.notes-section{
  margin-top: -17px;
  font-size: 12px;
  color: #93999F;
  line-height: 24px;
  cursor: pointer;
  outline: none;
}

.notes-section:hover{
  color: black;
}

.notes-content{
  width: 888px;
  font-size: 16px;
  color: #07111B;
  line-height: 32px;
  padding: 0;
}

.notes-praisecollect{
  float: left;
  font-size: 12px;
  color: #93999F;
  border: 1px solid #545C63;
  border-radius: 18px;
  cursor: pointer;
  padding: 5px 11px;
}

.notes-praisecollect-1{
  margin-right: -60px;
}

.notes-editdelete{
  margin-left: 35px;
  font-size: 14px;
  color: #93999F;
  font-weight: 400;
}

.notes-edit{
  border: 1px solid #D9DDE1;
  border-radius: 5px;
  height: 32px;
  margin-right: 10px;
  padding: 5px 12px;
}

.notes-delete{
  border: 1px solid #D9DDE1;
  border-radius: 5px;
  height: 32px;
  margin-right: 20px;
  padding: 5px 12px;
}

.notes-edit:hover{
   background-color: #d9dde1;
   border-color: #d9dde1;
 }

.notes-delete:hover{
  background-color: #d9dde1;
  border-color: #d9dde1;
}

.time{
  font-size: 12px;
  color: #93999F;
}
