<!--上部分选择导航条-->
<div class="row notes-select-row">
  <div class="col-10">
    <ul class="notes-select">
      <li  class="total" id="{{ selectBtn[0] }}" (click)="select(0)"><a>全部</a></li>
      <li  class="course"id="{{ selectBtn[1] }}" (click)="select(1)"><a>课程</a></li>
    </ul>
  </div>
  <div class="col-2">
    <p class="totalnote">共{{ notes.length }}条笔记</p>
  </div>
  <div class="col-12">
    <hr id="hr1">
  </div>
</div>

<!--笔记内容页-->
<div class="row" *ngFor="let note of notes">
  <div class="col-12 mainbody">
    <p class="notes-chapter">{{ note.courseName }}</p>
    <p class="notes-section">{{ note.chapter }}-{{ note.section }}&nbsp;{{ note.sectionName }}</p>
    <p class="notes-content">{{ note.content }}</p>
    <div class="row">
      <div class="col-2 notes-praisecollect-1">
        <div class="notes-praisecollect">赞&nbsp;{{ note.agreeNum }}</div>
      </div>
      <div class="col-7">
        <div class="notes-praisecollect">采集&nbsp;{{ note.gatherNum }}</div>
      </div>
      <div class="col-3 notes-editdelete">
        <span class="notes-edit">编辑</span>
        <span class="notes-delete">删除</span>
        <span class="time">{{ note.time }}</span>
      </div>
    </div>
  </div>
  <div class="col-12">
    <hr id="hr2">
  </div>
</div>

