<div id="course-header" class="container">
  <div class="row">
    <div id="course" class="card" *ngFor="let cou of course">
      <a routerLink="/details/{{ cou.id }}" routerLinkActive="active">
      <img id="course-img" class="card-img" src="{{ cou.img }}" alt="Card image">
      <div id="course-body" class="card-body">
        <h3 id="course-title" class="card-title">{{ cou.name }}</h3>
        <div>
          <div id="course-info">
            <span>{{ cou.difficulty }}</span>
            <span><i class="anticon anticon-user"></i>{{ cou.people }}</span>
          </div>
          <p id="course-desc">{{ cou.shortIntro }}</p>
        </div>
      </div>
      </a>
    </div>
  </div>
</div>
