<div class="row ape-head">
  <div class="col-2">
    <div class="ape-select" id="{{ selectBtn[0] }}" (click)="select(0)"><a>我的提问</a></div>
  </div>
  <div class="col-2 ape-ask">
    <div class="ape-select" id="{{ selectBtn[1] }}" (click)="select(1)"><a>我的回答</a></div>
  </div>
  <div class="col-8 ape-focus">
    <div class="ape-select" id="{{ selectBtn[2] }}" (click)="select(2)"><a>我的关注</a></div>
  </div>
</div>

<div class="row ape-content" *ngFor="let ape of apes">
  <div class="col-1">
    <img class="img-1" [src]="ape.img">
  </div>
  <div class="col-11 ape-content-1">
    <p class="from">来自<a class="classification">{{ ape.type }}</a></p>
    <p class="question" routerLink="/community/{{ ape.id }}" routerLinkActive="active">问题：{{ ape.title }}</p>

    <div class="answer" *ngIf="isAnswer">
      <p class="answer-my">我的回答</p>
      <div class="answer-content"><a class="answer-content-a">{{ ape.myAnswer }}</a></div>
      <p class="time-answer"><span class="time">{{ ape.time }}</span><a id="replyNum">{{ ape.answerNum }}个回复</a></p>
    </div>

    <p class="time-answer" *ngIf="!isAnswer"><span class="time">{{ ape.time }}</span><a id="answerNum">{{ ape.answerNum }}个回答</a></p>
  </div>
    <div class="col-12">
      <hr>
    </div>
</div>
