<div id="ape-head" class="container-fluid">
  <div id="ape-body" class="row">
    <div class="col-1"></div>
    <!-- 主体 -->
    <div id="ape-content" class="col-7">
      <!-- 简介 -->
      <div id="ape-intro" class="row">
        <div class="col-5">
          <span>实验室自己的问答社区</span>
        </div>
        <div class="offset-4 col-3">
          <a routerLink="/quiz" routerLinkActive="active">我要提问</a>
        </div>
      </div>
      <!-- 分类按钮 -->
      <div id="ape-nav" class="col-12">
        <a class="ape-nav-btn" (click)="anBtn(0)" id="{{ beforeSelection[0] }}">最新</a>
        <a class="ape-nav-btn" (click)="anBtn(1)" id="{{ beforeSelection[1] }}">最热</a>
      </div>

      <!-- 问答列表 -->

      <div id="ape-list" class="col-12" *ngFor="let ape of apes">

        <div class="row">
          <div id="ape-list-img" class="col-1">
            <a><img src="{{ ape.img }}"></a>
          </div>
          <div class="col-11">
            <div id="from-tag" >来自&nbsp;&nbsp;&nbsp;<a>{{ ape.classify }}</a></div>
            <div><a id="ape-tit" routerLink="/community/{{ ape.id }}" routerLinkActive="active">{{ ape.title }}</a></div>
          </div>
        </div>

        <!-- 回答内容 --><div *ngIf="ape.answer.length !== 0">
        <div id="answer-con" class="row">
          <div class="offset-1 col-11">
            <div id="user"><a>{{ ape.answer[0].name }}</a><span>&nbsp;&nbsp;回答：</span></div>
            <div id="answer-content">
              {{ ape.answer[0].content }}
            </div>
          </div>
        </div>

        <!-- 点赞按钮等 -->
        <div id="ctrl-bar" class="row">
          <div id="agree-with" class="offset-1 col-2"><span>已帮助用户&nbsp;{{ ape.answer[0].agreeNum }}</span></div>
          <div class="col-2"><span>{{ ape.answer[0].opposeNum }}&nbsp;人反对</span></div>
          <div class="col-1"><span>分享</span></div>
        </div></div>

      </div>

    </div>

    <!-- 个人信息栏 -->
    <div class="col-3">
      <!-- 用户栏 -->
      <div class="row" *ngIf="person">
        <div id="user-about" class="col-12">
          <!-- 用户简介 -->
          <div id="user-info" class="row">
            <div id="user-img" class="col-2">
              <a><img src="{{ person.picture }}"></a>
            </div>
            <div class="col-10">
              <div id="user-name"><a>{{ person.name }}</a></div>
            </div>
          </div>
          <!-- 相关按钮 -->
          <div id="user-action" class="row">
            <div class="col"><span><a id="user-action-a" routerLink="/person/person-ape" routerLinkActive="active">提问</a></span></div>
            <div class="col"><span><a>回答</a></span></div>
            <div class="col"><span><a>关注</a></span></div>
          </div>
        </div>
      </div>

      <!-- 分类 -->
      <div class="row">
        <div id="my-follow-class" class="col-12">
          <div id="follow-class" class="row">
            <div id="follow-class-info" class="col-10">
              <h3>分类</h3>
            </div>
          </div>
       <!--分类-->
          <div id="tag-box">
            <a class="tag-box-a" *ngFor="let t of tag let i = index" (click)="selectType(i)" id="{{ i === beforeType ? 'onType' : '' }}">{{ t }}</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
