<button nz-button [nzType]="'primary'" (click)="showModal()" style="display: none"><span>Show Modal</span></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="添加课程" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzStyle]="{ top: '20px' }">

  <div nz-row>
    <div nz-col [nzSpan]="12">
      <span>选择分类</span>
      <nz-tree-select
        style="width: 140px"
        [nzDefaultExpandedKeys]="expandKeys"
        [nzNodes]="nodes"
        nzPlaceHolder="Please select"
        [(ngModel)]="type"
        (ngModelChange)="onChange($event)">
      </nz-tree-select>
    </div>

    <div nz-col [nzSpan]="12">
      <span>选择难度</span>
      <nz-tree-select
        style="width: 140px"
        [nzDefaultExpandedKeys]="expandKeys"
        [nzNodes]="nodesDiffcult"
        nzPlaceHolder="Please select"
        [(ngModel)]="addCourse.difficulty"
        (ngModelChange)="onChange($event)">
      </nz-tree-select>
    </div>
  </div>

  <div nz-row class="course">
    <div nz-col [nzSpan]="4">
      <label class="coursename">课程名字</label>
    </div>
    <div nz-col [nzSpan]="20">
      <input class="newCourse" nz-input placeholder="请输入新增课程名" [(ngModel)]="addCourse.name">
    </div>
  </div>

  <div nz-row class="course">
    <div nz-col [nzSpan]="4">
      <label class="coursename">课程封面</label>
    </div>
    <div nz-col [nzSpan]="20">
      <nz-upload
        [nzAction]="nzAction"
        [(nzFileList)]="fileList"
        [nzLimit]="1"
        [nzShowButton]="fileList.length < 1"
        (nzChange)="handleChange($event)"
        [nzPreview]="handlePreview"
        nzListType="picture-card">
        <i class="anticon anticon-plus"></i>
        <div class="ant-upload-text">课程封面</div>
      </nz-upload>
      <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
        <ng-template #modalContent>
          <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
        </ng-template>
      </nz-modal>
    </div>
  </div>

  <div nz-row class="course">
    <div nz-col [nzSpan]="4">
      <label class="coursename">课程概述</label>
    </div>
    <div nz-col [nzSpan]="20">
      <input class="newCourse" nz-input placeholder="请输入新增课程概述" [(ngModel)]="addCourse.shortIntro">
    </div>
  </div>

  <div nz-row class="course">
    <div nz-col [nzSpan]="4">
      <label class="coursename">课程时长</label>
    </div>
    <div nz-col [nzSpan]="20">
      <input class="newCourse" nz-input placeholder="请输入新增课程时长,如(1小时1分)" [(ngModel)]="addCourse.time">
    </div>
  </div>

  <div nz-row class="course">
    <div nz-col [nzSpan]="4">
      <label class="coursename">课程简介</label>
    </div>
    <div nz-col [nzSpan]="20">
      <textarea class="newCourse" nz-input placeholder="请输入课程简介" nzAutosize [(ngModel)]="addCourse.intro"></textarea>
    </div>
  </div>

  <div nz-row class="course">
    <div nz-col [nzSpan]="4">
      <label class="coursename">课程须知</label>
    </div>
    <div nz-col [nzSpan]="20">
      <textarea class="newCourse" nz-input placeholder="请输入课程须知" nzAutosize [(ngModel)]="addCourse.know"></textarea>
    </div>
  </div>

  <div nz-row class="course">
    <div nz-col [nzSpan]="4">
      <label class="coursename">能学到什么</label>
    </div>
    <div nz-col [nzSpan]="20">
      <textarea class="newCourse" nz-input placeholder="请输入内容" nzAutosize [(ngModel)]="addCourse.learnWhat"></textarea>
    </div>
  </div>

</nz-modal>
