<button nz-button [nzType]="'primary'" (click)="showModal()" style="display: none"><span>Show Modal</span></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="添加课程" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzStyle]="{ top: '20px' }">

  <div nz-row>
    <div nz-col [nzSpan]="12">
      <span>选择分类</span>
      <nz-tree-select
        style="width: 140px"
        [nzDefaultExpandedKeys]="expandKeys"
        [nzNodes]="nodes"
        nzPlaceHolder="Please select"
        [(ngModel)]="type"
        (ngModelChange)="onChange($event)">
      </nz-tree-select>
    </div>

    <div nz-col [nzSpan]="12">
      <span>选择难度</span>
      <nz-tree-select
        style="width: 140px"
        [nzDefaultExpandedKeys]="expandKeys"
        [nzNodes]="nodesDiffcult"
        nzPlaceHolder="Please select"
        [(ngModel)]="addCourse.difficulty"
        (ngModelChange)="onChange($event)">
      </nz-tree-select>
    </div>
  </div>

  <div nz-row class="course">
    <div nz-col [nzSpan]="4">
      <label class="coursename">课程名字</label>
    </div>
    <div nz-col [nzSpan]="20">
      <input class="newCourse" nz-input placeholder="请输入新增课程名" [(ngModel)]="addCourse.name">
    </div>
  </div>

  <div nz-row class="course">
    <div nz-col [nzSpan]="4">
      <label class="coursename">课程封面</label>
    </div>
    <div nz-col [nzSpan]="20">
      <nz-upload class="upload-list-inline"
                 nzAction="http://10.0.0.34:8080/uploadfile/upload"
                 nzListType="picture">
        <button nz-button class="course-upload">
          <span><i class="anticon anticon-upload"></i> 上传课程封面</span>
        </button>
      </nz-upload>
    </div>
  </div>

  <div nz-row class="course">
    <div nz-col [nzSpan]="4">
      <label class="coursename">课程概述</label>
    </div>
    <div nz-col [nzSpan]="20">
      <input class="newCourse" nz-input placeholder="请输入新增课程概述" [(ngModel)]="addCourse.shortIntro">
    </div>
  </div>

  <div nz-row class="course">
    <div nz-col [nzSpan]="4">
      <label class="coursename">课程时长</label>
    </div>
    <div nz-col [nzSpan]="20">
      <input class="newCourse" nz-input placeholder="请输入新增课程时长,如(1小时1分)" [(ngModel)]="addCourse.time">
    </div>
  </div>

  <div nz-row class="course">
    <div nz-col [nzSpan]="4">
      <label class="coursename">课程简介</label>
    </div>
    <div nz-col [nzSpan]="20">
      <textarea class="newCourse" nz-input placeholder="请输入课程简介" nzAutosize [(ngModel)]="addCourse.intro"></textarea>
    </div>
  </div>

  <div nz-row class="course">
    <div nz-col [nzSpan]="4">
      <label class="coursename">课程须知</label>
    </div>
    <div nz-col [nzSpan]="20">
      <textarea class="newCourse" nz-input placeholder="请输入课程须知" nzAutosize [(ngModel)]="addCourse.know"></textarea>
    </div>
  </div>

  <div nz-row class="course">
    <div nz-col [nzSpan]="4">
      <label class="coursename">能学到什么</label>
    </div>
    <div nz-col [nzSpan]="20">
      <textarea class="newCourse" nz-input placeholder="请输入内容" nzAutosize [(ngModel)]="addCourse.learnWhat"></textarea>
    </div>
  </div>

</nz-modal>
