<div class="container" id="select">

  <div class="row">
    <div class="col-1" id="s1">
      <p class="p1">方向:</p>
    </div>

    <div class="col-11">
      <ul class="item">
        <li *ngFor="let dir of direction let i=index" [class]="selection0 === i ? 'course-nav-item on' : 'course-nav-item'">
          <a (click)="select0(dir, i)">{{ dir }}</a>
        </li>
      </ul>
    </div>

  </div>

  <hr class="hr1">

  <div class="row">
    <div class="col-1" id="s2">
      <p class="p1">分类:</p>
    </div>

    <div class="col-11">
      <ul class="item">
        <li *ngFor="let dir of classify let i=index" [class]="selection1 === i ? 'course-nav-item on' : 'course-nav-item'">
          <a (click)="select1(dir, i)">{{ dir }}</a>
        </li>
      </ul>
    </div>

  </div>

  <hr class="hr1">

  <div class="row">
    <div class="col-1" id="s3">
      <p class="p1">难度:</p>
    </div>

    <div class="col-11">
      <ul class="item">
        <li *ngFor="let dir of difficult let i=index" [class]="selection2 === i ? 'course-nav-item on' : 'course-nav-item'">
          <a (click)="select2(dir, i)">{{ dir }}</a>
        </li>
      </ul>
    </div>

  </div>

</div>

<app-ch-selectionson></app-ch-selectionson>
