<div class="container-fluid">

  <!--头部内容-->
  <div class="row person" *ngIf="person">
    <div class="col-1"></div>
    <div class="col-1 person-1">
      <img class="img-1" src="{{ person.picture }}">
    </div>
    <div class="col-4 person-2">
      <div class="person-3">{{ person.name }}</div>
      <div class="person-4">
        <span>{{ person.sex }}</span>
        <span>{{ person.address }}</span>
        <span>{{ person.job }}</span>
        <span>|</span>
        <span>{{ person.signature }}</span>
      </div>
    </div>
    <div class="col-3 person-5">
      <div class="row person-6">
        <div class="col-4">{{ person.learnTime }}h</div>
        <div class="col-6 person-8">{{ person.attentionNum }}</div>
      </div>
      <div class="row person-7">
        <div class="col-4">学习时长</div>
        <div class="col-6 person-8">关注</div>
      </div>
    </div>
    <div class="col-2 person-setbtn">
      <button nz-button nzType="default" nzShape="circle" (click)="setsModal.showPhoneModal()"><i class="anticon anticon-mobile"></i></button>
      <button nz-button nzType="default" nzShape="circle" (click)="setsModal.showEmailModal()"><i class="anticon anticon-mail"></i></button>
      <button nz-button nzType="default" nzShape="circle" (click)="setsModal.showSetModal()"><i class="anticon anticon-setting"></i></button>
      <button nz-button nzType="default" nzShape="circle" (click)="setsModal.showPassModal()"><i class="anticon anticon-safety"></i></button>
    </div>
  </div>

  <div class="person-10">
    <div class="row person-10">
      <div class="col-3">
        <ul class="person-9">
          <li *ngFor="let btn of personBtn let i = index" class="person-9-a {{btn.isOn}} {{btn.isHover}}"
              (click)="select(btn.name, i)" (mouseenter)="select1(btn.name,i)" (mouseleave)="select2(btn.name,i)"
              routerLink="{{ btn.route }}" routerLinkActive="active"><a>{{btn.name}}</a></li>
        </ul>
      </div>

      <div class="col-9 person-col-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>
<app-ch-person-set #setsModal></app-ch-person-set>
