<div class="container-fluid">
  <div id="header" class="row">
    <div id="logo" class="col-2"><a routerLink="/home" routerLinkActive="active">logo</a></div>
    <ul id="item" class="col-4">
        <li><a routerLink="/selection" routerLinkActive="active">课程</a></li>
        <li><a>猿问</a></li>
    </ul>
    <div id="search" class="input-group col-4">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-append">
        <button class="btn btn-success" type="submit">Go</button>
      </div>
    </div>
    <div id="login" class="col-2">
      <a>登录</a>
      &nbsp;/&nbsp;
      <a>注册</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
