a {
  text-decoration: none;
  cursor: pointer;
}
#learning-header {
  height: 60px;
  font-family: "PingFang SC", Helvetica, "Helvetica Neue", 微软雅黑, Tahoma, Arial, sans-serif;
}


/*播放框*/
#learning-play {
  height: 510px;
  background: #1C1F21;
}
/*工具栏*/
#course-sidebar {
  background: #1C1F21;
  width: 60px;
  align-items: center;
  z-index: 10000;
  padding-top: 105px;
}
#course-sidebar dl {
  flex: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}
#course-sidebar dd {
  height: 72px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  /*cursor: pointer;*/
}
#course-sidebar i {
  font-size: 24px;
  color: rgba(255,255,255,.6);
  line-height: 24px;
}
#course-sidebar span {
  font-size: 12px;
  color: rgba(255,255,255,.4);
  line-height: 18px;
}

/*视频播放框*/
#course-center {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#course-video {
  height: 94%;
  width: 100%;
  margin: 16px 0;
}
.video-play {
  height: 100%;
  width: 100%;
  background: #000000;
}

.learn{
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
  height: 70px;
}

.learn-item{
  float: left;
  margin: auto  0 auto 20px;
  height: 70px;
}

.learn-item li{
  display: inline-block;
  padding: 25px 80px 35px 50px;
  height: 36px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.learn-item-a {
  color: #5e5e5e;
}

.learn-item li a:hover{
  color: red;
}

#on{
  color: red;
}
