<div id="learn-header" class="container-fluid">
  <!-- 课程头 -->
  <div id="learning-header" class="row" *ngIf="course && courseChapters">
    <div class="col-1" routerLink="/details/{{ courseChapters.id }}" routerLinkActive="active" style="outline: none;">
      <i class="anticon anticon-arrow-left return"></i>
    </div>
    <div class="col-3 section">
      {{ course.chapter }}-{{ course.section }}&nbsp;{{ course.name }}
    </div>
    <div class="col-6">
    </div>
    <div class="col-2">
      <div class="row">
        <div class="col section">
          <ng-template #contentTemplate>
            <div>
              <p routerLink="/person" routerLinkActive="active" class="personBtn">个人中心</p>
              <p routerLink="/backstageA" routerLinkActive="active" class="personBtn" *ngIf="isRoot">课程管理</p>
              <p (click)="loginOut()" class="personBtn">退出登录</p>
            </div>
          </ng-template>
          <a nz-popover [nzContent]="contentTemplate" nzTrigger="hover"><nz-avatar nzSize="large" nzIcon="anticon anticon-user" [nzSrc]="imgSrc"></nz-avatar></a>
        </div>
      </div>
    </div>
  </div>

  <!--文章展开-->
  <div class="section-list" *ngIf="showChapter">
    <div class="section-list-son"*ngFor="let cha of courseChapters.chapters">
      <div class="which-chapter" >
        第{{ cha.chapter }}章 &nbsp; {{ cha.name }}
      </div>
      <div class="tool-section" *ngFor="let sec of cha.sections" routerLink="/learning/{{ sec.id }}" routerLinkActive="active">
        <i class="anticon anticon-play-circle-o"></i>
        &nbsp;{{cha.chapter}}-{{sec.section}} &nbsp;&nbsp;{{sec.name}}
        <!-- 没学，学一半，学完 -->
        <i class="anticon anticon-close-circle-o" id="notLearn"
           *ngIf="sec.learnedSections !== 1 && sec.learningHalfs !== 1"></i>
        <i class="anticon anticon-clock-circle-o" id="LearnHalf" *ngIf="sec.learningHalfs === 1"></i>
        <i class="anticon anticon-check-circle-o" id="haveLearned" *ngIf="sec.learnedSections === 1"></i>
        <span class="recentLearn" *ngIf="sec.newLearn === sec.id">正在学</span>
      </div>
    </div>
  </div>

  <!--评论-->
  <div class="modal fade" id="commentModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content content">

        <!-- 模态框主体 -->
        <div class="modal-body">
          <div class="form-group comment">
            <label for="comment" >我要评论</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <textarea class="form-control area" rows="4" id="comment" placeholder="扯淡、吐槽、表扬、鼓励……想说啥就说啥！" [(ngModel)]="com.content"></textarea>
            <p class="publish" (click)="submitCom()">发表评论</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- 播放 -->
  <div id="learning-play" class="row">
    <!-- 工具栏 -->
    <div class="col-1" id="course-sidebar">
      <dl>
        <dd id="openchapter">
          <a (click)="showOne()"><i class="anticon anticon-bars"></i>
            <br/>
            <span>章节</span></a>
        </dd>
        <dd id="openpanel">
          <a (click)="showTwo()"><i class="anticon anticon-question-circle-o"></i>
            <br/>
            <span>问答</span></a>
        </dd>
        <dd id="openanel">
          <a (click)="showThree()"><i class="anticon anticon-form"></i>
            <br/>
            <span>笔记</span></a>
        </dd>
        <dd id="opencomment">
          <a id="showCommentModal" data-toggle="modal" data-target="#commentModal"><i class="anticon anticon-message"></i>
            <br/>
            <span>评论</span></a>
        </dd>
      </dl>
    </div>

    <!-- 播放视频框 -->
    <div class="col-{{ showColNum }}" id="course-center">
      <div id="course-video">
        <!--<vg-player>-->
          <!--<vg-overlay-play></vg-overlay-play>-->
          <!--<vg-buffering></vg-buffering>-->

          <!--<vg-scrub-bar>-->
            <!--<vg-scrub-bar-current-time></vg-scrub-bar-current-time>-->
            <!--<vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>-->
          <!--</vg-scrub-bar>-->

          <!--<vg-controls>-->
            <!--<vg-play-pause></vg-play-pause>-->
            <!--<vg-playback-button></vg-playback-button>-->

            <!--<vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>-->

            <!--<vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>-->

            <!--<vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>-->
            <!--<vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>-->

            <!--<vg-track-selector></vg-track-selector>-->
            <!--<vg-mute></vg-mute>-->
            <!--<vg-volume></vg-volume>-->
            <!--<vg-fullscreen></vg-fullscreen>-->
          <!--</vg-controls>-->

          <!--<video [vgMedia]="media" #media id="singleVideo" preload="auto" type="video/*">-->
            <!--<source [src]=url type="video/mp4">-->
          <!--</video>-->
        <!--</vg-player>-->
        <vg-player style="border-radius: 10px;" *ngIf="course">
          <!--<vg-overlay-play vgFor="singleVideo"></vg-overlay-play>-->
          <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls class="video-play" type="video/*">
            <source [src]="course.video" type="video/mp4">
          </video>
        </vg-player>
        <!--<video width="320" height="240" controls>-->
          <!--<source src="http://10.0.0.34:1234/group1/M00/00/00/wKgZhVtlVNSAb_fnADJWtlJZhdg121.mp4" type="video/mp4">-->
          <!--<source src="movie.ogg" type="video/ogg">-->
          <!--<source src="movie.webm" type="video/webm">-->
          <!--<object data="movie.mp4" width="320" height="240">-->
            <!--<embed src="movie.swf" width="320" height="240">-->
          <!--</object>-->
        <!--</video>-->
      </div>
    </div>

    <!--问答展开-->
    <div class="col-4 ques" *ngIf="showQues">
      <div class="shadow-son"></div>
      <div class="ques-content">
        <p class="askQues">提问题</p>
        <input type="text" placeholder="请一句话说明你的问题" [(ngModel)]="ques.title">
        <quill-editor [style]="{height: '220px'}" [(ngModel)]="ques.content" ></quill-editor>
        <p class="ok" (click)="submitQues()">提交</p>
      </div>
    </div>

    <!--笔记展开-->
    <div class="col-4 ques" *ngIf="showNotes">
      <div class="shadow-son"></div>
      <div class="ques-content">
        <p class="askQues">写笔记</p>
        <quill-editor [style]="{height: '220px'}" [(ngModel)]="notes.content" ></quill-editor>
        <p class="ok" (click)="submitNotes()">提交</p>
      </div>
    </div>

  </div>

  <div class="row learn">
    <div class="col-12">
      <ul class="learn-item">
        <li *ngFor="let dir of learn let i=index">
          <a (click)="select(dir[0], i)" class="learn-item-a" id="{{ dir[1] }}" routerLink="{{ dir[2] }}"
             routerLinkActive="active">{{ dir[0] }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row cqn-row">
    <div class="col-1"></div>
    <div id="cqn" class="col-7">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
