<div id="learn-header" class="container-fluid">
  <!-- 课程头 -->
  <div id="learning-header" class="row">
    <div class="col-1">
      返回
    </div>
    <div class="col-3">
      {{ course.chapter }}-{{ course.section }}&nbsp;{{ course.name }}
    </div>
    <div class="col-6">
    </div>
    <div class="col-2">
      <div class="row">
        <div class="col">通知</div>
        <div class="col">个人中心</div>
      </div>
    </div>
  </div>

  <!-- 播放 -->
  <div id="learning-play" class="row">
    <!-- 工具栏 -->
    <div class="col-1" id="course-sidebar">
      <dl>
        <dd id="openchapter">
          <a><i class="anticon anticon-bars"></i>
          <br />
          <span>章节</span></a>
        </dd>
        <dd id="openpanel">
          <a><i class="anticon anticon-question-circle-o"></i>
          <br />
            <span>问答</span></a>
        </dd>
        <dd id="openanel">
          <a><i class="anticon anticon-form"></i>
          <br />
            <span>笔记</span></a>
        </dd>
        <dd id="opencomment">
          <a><i class="anticon anticon-message"></i>
          <br />
            <span>评论</span></a>
        </dd>
      </dl>
    </div>

    <!-- 播放视频框 -->
    <div id="course-center" class="col-10">
      <div id="course-video">
        <!--<vg-player>-->
          <!--<vg-overlay-play></vg-overlay-play>-->
          <!--<vg-buffering></vg-buffering>-->

          <!--<vg-scrub-bar>-->
            <!--<vg-scrub-bar-current-time></vg-scrub-bar-current-time>-->
            <!--<vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>-->
          <!--</vg-scrub-bar>-->

          <!--<vg-controls>-->
            <!--<vg-play-pause></vg-play-pause>-->
            <!--<vg-playback-button></vg-playback-button>-->

            <!--<vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>-->

            <!--<vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>-->

            <!--<vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>-->
            <!--<vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>-->

            <!--<vg-track-selector></vg-track-selector>-->
            <!--<vg-mute></vg-mute>-->
            <!--<vg-volume></vg-volume>-->
            <!--<vg-fullscreen></vg-fullscreen>-->
          <!--</vg-controls>-->

          <!--<video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>-->
            <!--<source [src]="transform(course.video)" type="video/mp4">-->
          <!--</video>-->
        <!--</vg-player>-->
        <vg-player style="border-radius: 10px;">
          <vg-overlay-play vgFor="singleVideo"></vg-overlay-play>
          <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls class="video-play">
            <source src="{{ transform(course.video) }}" type="video/mp4">
          </video>
        </vg-player>
      </div>
    </div>

  </div>

  <div class="row learn">
    <div class="col-12">
      <ul class="learn-item">
        <li *ngFor="let dir of learn let i=index">
          <a (click)="select(dir[0], i)" class="learn-item-a" id="{{ dir[1] }}" routerLink="{{ dir[2] }}"
             routerLinkActive="active">{{ dir[0] }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row cqn-row">
    <div class="col-1"></div>
    <div id="cqn" class="col-7">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
