<div id="comment-sidebar" class="row">
  <a id="comment-all">全部</a>
  <a id="comment-issue" onclick="document.getElementById('showCommentModal').click()">我要发布</a>
</div>
<div id="comment-content" *ngFor="let com of comment">
  <div class="row">
    <div class="col-1">
      <a><img src="{{ com.img }}" id="user-img"></a>
    </div>
    <div class="col-11">
      <div id="comment-tit"><a>{{ com.name }}</a></div>
      <div id="comment-cnt">{{ com.content }}</div>
      <div id="comment-footer" class="row">
        <div class="col-2"><a><i class="anticon anticon-like-o"></i>&nbsp;{{ com.agreeNum }}</a></div>
        <div class="col-6" *ngIf="com.sectionName !== null"><a>{{ com.chapter }}-{{ com.section }}&nbsp;{{ com.sectionName }}</a></div>
        <div class="col-6" *ngIf="com.sectionName === null"></div>
        <div class="offset-2 col-2"><span>{{ com.time }}</span></div>
      </div>
    </div>
  </div>
</div>

