<div class="row course-1">
  <div class="col-2">
    <div class="course-2" id="{{ selectBtn[0] }}" (click)="select(0)"><a>最近学习</a></div>
  </div>
  <div class="col-10">
    <div class="course-2" id="{{ selectBtn[1] }}" (click)="select(1)"><a>我的收藏</a></div>
  </div>
</div>

<div class="row content" *ngFor="let pc of personCourse">

  <div class="col-1 time">
    <p class="year">{{ pc.year }}</p>
    <p class="month">{{ pc.month }}月{{ pc.day }}日</p>
  </div>

  <div class="col-11 video">
    <div class="row">
      <div class="col-3">
        <img class="img-1" src="{{ pc.img }}">
      </div>
      <div class="col-7">
        <p><span class="chapter" routerLink="/details/{{ pc.id }}">{{ pc.name }}</span><span class="span1">更新完毕</span></p>
        <ul class="state">
          <li id="havelearn">已学{{ pc.learned }}%</li>
          <li>用时&nbsp;{{ pc.learnTime }}</li>
          <li>学习至{{ pc.learnProgress }}</li>
        </ul>
        <ul class="state-2">
          <li>笔记&nbsp;{{ pc.notesNum }}</li>
          <li>问答&nbsp;{{ pc.questionNum }}</li>
        </ul>
      </div>
      <div class="col-2">
        <a id="continuelearn" routerLink="/learning/{{ pc.section }}" routerLinkActive="active">继续学习</a>
      </div>
    </div>
    <hr>
  </div>

</div>
