<div class="container-fluid" id="detail" *ngIf="detailed">

  <div class="detail1">

    <div class="row">
      <div class="col-8">
        <ul class="item">
          <li>
            课程 &nbsp;\
          </li>
          <li>
            {{detailed.direction}} &nbsp;\
          </li>
          <li>
            {{detailed.classify}} &nbsp;\
          </li>
          <li>
            {{detailed.name}} &nbsp;
          </li>

        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="p1">
          {{ detailed.name }}
        </p>
      </div>
    </div>

    <div class="row item1">
      <div class="col-1"></div>
      <div class="col-1 authimg">
        <img src="{{ detailed.authorImg }}">
      </div>
      <div class="col-2 authname">
        <div>{{ detailed.authorName }}</div>
        <div>{{ detailed.authorJob }}</div>
      </div>
      <div class="col-1 diff">
        难度 &nbsp;&nbsp;{{detailed.difficulty}}
      </div>
      <div class="col-2 length">
        时长 &nbsp;&nbsp;{{detailed.time}}
      </div>
      <div class="col-2 num">
        学习人数 &nbsp;&nbsp;{{detailed.people}}
      </div>
    </div>

  </div>

  <div class="detail2">
    <div class="row">
      <div class="col-12">
        <ul class="item2">
          <li *ngFor="let dir of detailed2 let i=index">
            <a (click)="select(dir[0], i)" class="item2-a" id="{{ dir[1] }}" routerLink="{{ dir[2] }}"
               routerLinkActive="active">{{dir[0]}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="detail3">
    <div class="row detail4">

      <div class="col-1"></div>

      <div class="col-7" id="detail4-content">
        <router-outlet></router-outlet>
      </div>

      <div class="col-4" id="learn">
        <div class="learn-1">
          <p class="havelearn">已学{{detailed.learned}}%<span class="timelen">学习耗时{{detailed.learnTime}}</span></p>
          <div class="progress" style="border-radius:10px;">
            <div class="progress-bar" [ngStyle]="{'width.%': detailed.learned}" id="progressColor"></div>
          </div>
          <p class="learnto">上次学至 {{detailed.learnProgress}}</p>
          <p class="continuelearn" *ngIf="isLearn">继续学习</p>
          <p class="continuelearn" *ngIf="!isLearn">开始学习</p>
          <p class="information">课程须知</p>
          <p class="infoContent">{{detailed.know}}</p>
          <p class="information">老师告诉你能学到什么？</p>
          <p class="infoContent">{{detailed.learnWhat}}</p>

        </div>
      </div>
    </div>
  </div>

</div>

