a {
  text-decoration: none;
  cursor: pointer;
}

#detail{
  margin: 0;
  padding: 0;
  font-family: "PingFang SC", Helvetica, "Helvetica Neue", 微软雅黑, Tahoma, Arial, sans-serif;
}
.row {
  margin: 0;
}

.detail1{
  /*background-color: black;*/
  background: url("//img4.mukewang.com/57a2b92e0001804806000338.jpg");
  /*background:-moz-linear-gradient(45deg,#000 50%,#555 50%,#555);*/
  background-size: 1349px;
  background-position: center;
  margin: 0;
  padding: 0;
}

.detail2{
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
  height: 70px;
}

.item{
  float: left;
  margin: auto  0 auto 50px;
}

.item li{
  display: inline-block;
  padding: 30px 5px 18px 10px;
  height: 36px;
  text-align: center;
  line-height: 5px;
  font-size: 12px;
  color: #dff1ff;
  cursor: pointer;
}

.item li:hover{
  color: #FFF;
}

.p1{
  margin-left: 99px;
  margin-top: 15px;
  font-size: 32px;
  color: #fff;
  font-weight: 400;
}

img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.item1{
  text-align: center;
  font-size: 12px;
  color: #fff;
}

.authimg{
  padding: 0;
  margin: -21px 0 20px -26px;
}

.authname{
  margin-left: -36px;
  margin-top: -10px;
  text-align: left;
}

.diff{
  margin-left: -96px;
}

.length{
  margin-left: -56px;
  padding: 0;
}

.num{
  margin-left: -90px;
  padding: 0;
}

#s2{
 margin-top: -20px;
}

.item2{
  float: left;
  margin: auto  0 auto 20px;
}

.item2 li{
  display: inline-block;
  padding: 25px 80px 35px 40px;
  height: 36px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.item2-a {
  color: #5e5e5e;
}

.item2 li a:hover{
  color: red;
}

#on {
  color: red;
}

/*旁边的继续学习模块*/
#detail3 {
  background-color: #f3f5f7;
  margin: 5px auto auto auto;
  padding: auto;
}

.detail4 {
  padding-top: 30px;
  padding-bottom: 10px;
}

#detail4-content {
  padding: 0;
}

.learn-1{
  width: 320px;
  padding: 24px 32px 32px;
  background: #FFF;
  box-shadow: 0 8px 16px 0 rgba(7,17,27,.1);
  border-radius: 12px;
  margin: 10px 50px 20px 50px;
}

.havelearn{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1c1f21;
}

.timelen{
  font-size: 12px;
  line-height: 18px;
  margin-left: 75px;
  color: #5e5e5e;
}

.learnto{
  margin-bottom: 10px;
  font-size: 12px;
  color: #545C63;
  line-height: 18px;
  margin-top: 23px;
}

.continuelearn{
  padding: 11px 32px;
  border: 1px solid #f20d0d;
  background-color: #f20d0d;
  border-radius: 24px;
  line-height: 24px;
  font-size: 16px;
  width: 256px;
  height: 48px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.continuelearn:hover{
  background-color: rgba(194,10,10,0.82);
}

.information{
  margin-top: 24px;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
  color: #1c1f21;
}

.infoContent{
  font-size: 12px;
  line-height: 24px;
  color: #545C63;
  white-space: pre-line;
}

#progressColor{
  background-color: #F20D0D;
}
