<button nz-button [nzType]="'primary'" (click)="showModal()" style="display: none"><span>Show Modal</span></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="添加章节" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">

  <div nz-row>
    <div nz-col [nzSpan]="4">
      <label class="section-name">节名字</label>
    </div>
    <div nz-col [nzSpan]="20">
      <input class="section-newName" nz-input placeholder="请输入新增节名" [(ngModel)]="section.name">
    </div>
  </div>

  <div nz-row class="section">
    <div nz-col [nzSpan]="4">
      <label class="section-name">上传视频</label>
    </div>
    <div nz-col [nzSpan]="20">
      <nz-upload
        [nzAction]="nzAction"
        [(nzFileList)]="fileList"
        [nzLimit]="1"
        [nzShowButton]="fileList.length < 1"
        (nzChange)="handleChange($event)"
        nzListType="picture-card">
        <i class="anticon anticon-plus"></i>
        <div class="ant-upload-text">上传视频</div>
      </nz-upload>
    </div>
  </div>

</nz-modal>
