<div class="container-fluid" id="community">
  <div class="row" id="community-row">
    <div class="col-1"></div>
    <!-- 问答页面主体 -->
    <div class="col-7" id="community-content" *ngIf="community">

      <!-- 问题内容 -->
      <div class="row" id="qa-content">
        <!-- 题目 -->
        <div class="col-12" id="qa-content-title">
          <h1>{{ community.title }}</h1>
        </div>
        <!-- 头像与昵称 -->
        <div class="col-3" id="qa-content-intro">
          <a class="qa-content-intro-a"><img src="{{ community.quesImg }}" class="qa-user-img"></a>
          <span class="quesName">{{ community.quesName }}</span>
        </div>
        <div class="offset-6 col-3" id="qa-content-edit">
          <span class="lookNum">浏览&nbsp;{{ community.lookNum }}</span>
          <span>回答&nbsp;{{ community.answerNum }}</span>
        </div>
        <div class="col-12" id="qa-content-answer">
          {{ community.content }}
        </div>
      </div>

      <!-- 问题所属分类和关注数 -->
      <div class="row" id="qa-tips">
        <!-- 分类 -->
        <div class="col-10" id="qa-tips-class">
          <div id="qa-tips-class-a"><a>{{ community.classify }}</a></div>
        </div>
        <!-- 关注数 -->
        <div class="col-2" id="qa-tips-attention">
          <a><i class="anticon anticon-heart-o" id="attention"></i>&nbsp;{{ community.attentionNum }}</a>
        </div>
      </div>

      <!-- 添加回答 -->
      <div class="row" id="qa-addAnswer">
        <div class="col-12">
          <h3 class="qa-answer-add-tip">添加回答</h3>
        </div>
        <div class="col-12">
          <button class="qa-answer-btn" (click)="show()" *ngIf="showAskBtn"></button>
          <div class="row" *ngIf="showAsk">
            <div class="col-1" >
              <img class="loginImg" src="{{ person.picture }}">
            </div>
            <div class="col-11">
              <quill-editor [style]="{height: '100px'}" [(ngModel)]="answer.content"></quill-editor>
              <p class="submitAnswer" (click)="answerQues()">回答</p>
            </div>
          </div>
        </div>
      </div>

      <!-- 回答 -->
      <div class="row">
        <div class="col-12 qa-answer-num">{{ community.answerNum }}回答</div>
        <!-- 回答内容 -->
        <div class="col-12" id="ques-answer">
          <div class="row" id="ques-answer-con" *ngFor="let ans of community.answer">
            <div class="col-1">
              <a><img src="{{ ans.img }}" class="user-img"></a>
            </div>
            <div class="col-11">
              <div id="ques-answer-username"><a>{{ ans.name }}</a></div>
              <div id="ques-answer-content">{{ ans.content }}</div>
              <div class="row" id="ques-answer-footer">
                <div class="col-2 ques-answer-footer-btn"><a>赞&nbsp;{{ ans.agreeNum }}</a></div>
                <div class="col-2 ques-answer-footer-btn"><a>反对&nbsp;{{ ans.opposeNum }}</a></div>
                <div class="col-2" id="ques-answer-footer-num"><a>{{ ans.answerNum }}个回复</a></div>
                <div class="offset-4 col-2" id="ques-answer-footer-time">{{ ans.time}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-4" id="community-slider">
      <div class="quiz">
        <a>我要提问</a>
      </div>
      <div class="ques-class-title"><h3>相关分类</h3></div>
      <div class="row" id="ques-class-list">
        <div class="col-2" id="ques-class-icon"><a><img src="http://static.runoob.com/images/mix/img_avatar.png"
                                                        class="class-icon"></a></div>
        <div class="col-6" id="ques-class-info">
          <a>JAVA</a>
          <p>78570人关注</p>
        </div>
        <div class="col-4" id="ques-class-focus">
          <div id="ques-class-focus-on" *ngIf="!isONFocusClass" (click)="onFocusClass('on')"><a>关注</a></div>
          <div id="ques-class-focus-off" *ngIf="isONFocusClass" (click)="onFocusClass('off')"><a>取消关注</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
